In [9]:
def findsq(n):
  return n*n

number=[1,2,3,4]
sum=set(map(findsq,number))
print(sum)

{16, 1, 4, 9}
[1, 4, 9, 16]
[11, 13, 15]

In [1]:
def func1(name):
    print(name)
    return 
func1("Ankitaaaaaaa")

Ankitaaaaaaa

In [10]:
def func1(name,age):
    print(name)
    print(age)
func1(age=18,name='Ishan')

Ishan
20

In [11]:
def func1(name,age=20):#default arguments
    print(name)
    print(age)
func1(name='Ishan')

Ishan
20

In [12]:
#Variable Arguments
def func1(age,*p):
    print(age)
    for v in p:
        print(v)
func1(10,40,70,80)

10
40
70
80

In [21]:
#MUTABLE OBJECTS ARE AFFECTED GLOBALLY
def func1(mylist):
    mylist.append([4,5,6])
    print(mylist)
def func2(mylist):
    mylist=7
    print(mylist)
mylist=[1,2,3]
func1(mylist)
print(mylist)
func2(mylist)
print(mylist)

[1, 2, 3, [4, 5, 6]]
[1, 2, 3, [4, 5, 6]]
7
[1, 2, 3, [4, 5, 6]]

In [14]:
x=10
y=20
x,y=y,x
print("After Swapping, Numbers are" , x, y)

After Swapping, Numbers are 20 10

In [10]:
numbers1=[4,5,6]
numbers2=[7,8,9]

number=list(map(lambda n,m:m+n,numbers1,numbers2))

print(number)

[11, 13, 15]

In [11]:
number=[1,2,3,4]
squares=list(map(lambda n:n*n,number))
print(squares)

[1, 4, 9, 16]